---
layout: page
title: Arquivos
description: Aqui você pode encontrar todos os posts que existem no blog, ou você pode pesquisar também.
---
<div class="arquivos">
  <ul>
    <li>
      <div>
      {% for post in site.posts %}
        {% assign post_month_year = post.date | date: "%B %Y" %}
        {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
        {% if post_month_year != newer_post_month_year %}
          <h3>
            {{ post_month_year }}
          </h3>
        {% endif %}
        <p>
          <a href="{{ site.url }}{{ post.url }}" class="post-title-archive">{{ post.title }}</a>
          <small class="text-muted">{{ post.date | date_to_string }}</small>
        </p>
      {% endfor %}
      </div>
    </li>
  </ul>
</div>