---
layout: default
header: home
---

{% include nav-galeria.html %}
<!-- Posts -->
{% for post in paginator.posts %}
<div class="grid__column">
   <article  class="article__posts">
      <header class="article__header">
         <h2 class="article__title">
         	<a class="" title="{{ post.title }}" href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a>
         </h2>
         <div class="article__meta">
         	<span  itemprop="datePublished" content="2017-01-01">Publicado em {{ post.date | date_to_string }} </span><span>por <span itemprop="author">Andrey Glauzer</span></span>
         </div>
      </header>
      <p itemprop="description" class="article__description">
      	<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="" title="{{ post.title }}">{{ post.content | strip_html | truncatewords:50 }}</a>
      </p>
      <div class="article__button">
      	<a  href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="nuxt-link-button nuxt-link-button--ghost" title="{{ post.title }}">Continue lendo</a>
      </div>
      <!---->
      <figure class="article__image" data-v-7cb2a31e=""><img src="\{{ post.img_background }}"></figure>
   </article>
</div>

{% endfor %}
