---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<div class="div-post">
		  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
		  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">publicado em {{ post.date | date_to_string }} por andrey glauzer</time>
		  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
		  	<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="nuxt-link-button nuxt-link-button--ghost" title="{{ post.title }}">Continue lendo</a>
	  </div>
	  </li>

    {% endfor %}

</ul>
<style type="text/css">
	div.header-posts{display: none;}
</style>
