{% include nav-menu.html %}
{% include nav-menu-mobile.html %}
<style type="text/css">.header__back{opacity: 0;}header#header{padding: 4rem 0 5rem !important;}</style>
<header id="header">
	<article itemscope="itemscope" itemtype="http://schema.org/NewsArticle" class="article">
		<div class="wrapper info-header">
		  <section class="hero">
		    <div class="hero-inner">
		      <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Andrey Glauzer</strong> I am <em itemprop="jobTitle" class="after">Support Analyst</em> and <em itemprop="jobTitle" class="after">Info Security Analyst</em></h1>
		      <nav class="actions">
		      	{% include social.html %}
		      </nav>
		    </div>
		  </section>
		</div>
	</article>
</header>
