<header class="header">
   <a href="/" class="header__back nuxt-link-active">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
         <line x1="20" y1="12" x2="4" y2="12"></line>
         <polyline points="10 18 4 12 10 6"></polyline>
      </svg>
      <span>Ir para Home</span>
   </a>
   <div>
      <nav role="navigation" class="navbar">
         <ul role="menu" class="navbar__nav">
            <li class="navbar__nav-item navbar__nav-item--search">
               {% include search.html %}
            </li>
            <li role="menuitem" class="navbar__nav-item">
            	<a href="/" class="navbar__nav-link" title="Sobre" role="link">Home</a>
            </li>
            <li role="menuitem" class="navbar__nav-item">
               <a href="/projetos" class="navbar__nav-link" title="Projetos" role="link">Projetos</a>
            </li>
            <li role="menuitem" class="navbar__nav-item">
               <a href="/colecoes" class="navbar__nav-link" title="Projetos" role="link">Coleções</a>
            </li>
            <!-- FOR para gerar os intens do menu. -->
            {% for page in site.pages %}
			    {% if page.layout == "page" %}
			    <li role="menuitem" class="navbar__nav-item">
			    	<a role="link" class="navbar__nav-link" href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}" title="{{ page.title }}">{{ page.title }}</a>
			    </li>
			    {% endif %}
			 {% endfor %}
         </ul>
      </nav>
      <!---->
   </div>
</header>

