
@media screen and (max-width: 48rem){
	
	// CONTENT POST
    .container .grid article#post-page {
	    max-width: 23rem !important;
	    max-width: 380px !important;
    }
    // RESULTADO DE BUSCAS
    .infor__search{
    	display:none;
    }
    h2 {
    	font-size: 1rem;
    }

    ul#results-container li {
	    border-radius: 0;
	    background-color: initial;
	    -webkit-box-shadow: initial;
	    box-shadow: initial;
	    padding: 0;
	    padding: 0;
	    display: block;
	    border: none;
	    position: initial;
	    min-height: 0;
	    min-height: 0;
	    text-decoration: none;
	    margin: 0;
	    margin: 0;
	}
}	
